<!DOCTYPE html>
<html ng-app="BrowsePassApp" ng-csp style="overflow-y: scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
        body { -webkit-user-select: text; }
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        .panel-group { margin-bottom: 5px; }
        .panel-body { padding-right: 0px; margin-right: -1px;}
        .btn-file { position: relative; overflow: hidden; }
        .btn-file input[type=file] {
            position: absolute; top: 0; left: 0;
            opacity: 0;
        }
        .input-group-btn label { width: 100px; }
        .footer { clear: both; padding-top: 10px; }
        .footer li { display: inline; }
        .bp-field-value { white-space: pre-wrap; }
    </style>

    <!-- KDBX libraries -->
    <script src="cryptojs/components/core-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/cipher-core-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/mode-ecb-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/aes-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/pad-nopadding-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/sha256-min.js" type="text/javascript"></script>
    <script src="inflate.js" type="text/javascript"></script>
    <script src="jdataview.js" type="text/javascript"></script>
    <script src="salsa20.js" type="text/javascript"></script>
    <script src="kdbx.js" type="text/javascript"></script>
    <script src="mimetype.js" type="text/javascript"></script>

    <!-- BrowsePass components -->
    <script src="angularjs/1.2.21/angular.min.js" type="text/javascript"></script>
    <script src="ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="app-controller.js" type="text/javascript"></script>
    <script src="components/gdrive/gdrive-service.js" type="text/javascript"></script>
    <script src="components/gdrive/gdrive-controller.js" type="text/javascript"></script>
    <script src="components/vault/vault-service.js" type="text/javascript"></script>
    <script src="components/dialog/dialog-service.js" type="text/javascript"></script>
    <script src="components/file-input/dropzone-directive.js" type="text/javascript"></script>
    <script src="components/file-input/receiver-directive.js" type="text/javascript"></script>
    <script src="components/hotkey/hotkey-directive.js" type="text/javascript"></script>
    <script src="components/open/open-controller.js" type="text/javascript"></script>
    <script src="components/group/group-controller.js" type="text/javascript"></script>
    <script src="components/entry/entry-controller.js" type="text/javascript"></script>
    <script src="components/field/field-directive.js" type="text/javascript"></script>

    <!-- Google Drive & Google Picker -->
    <script src="gapi-chrome-apps.js" type="text/javascript"></script>

</head>
<body ng-controller="AppController">
    <div class="text-center center-block">
        <h1><img src="icon-48.png" /> BrowsePass</h1>
    </div>

    <div ng-controller="OpenController" ng-include="'components/open/open-template.html'"></div>

    <div ng-if="isLoaded()" class="input-group well-sm">
        <span class="input-group-btn">
            <button class="btn btn-default" btn-checkbox ng-model="appConfig.showGroups">Show Groups</button>
        </span>
        <input type="text" class="form-control" placeholder="Filter" ng-model="appConfig.filter" hotkey="{ctrlKey: true, keyCode: 'F'.charCodeAt(0)}" />
        <span class="input-group-btn">
            <button class="btn" ng-class="{'btn-info': appConfig.filter, 'btn-default': !appConfig.filter}" ng-disabled="!appConfig.filter" ng-click="appConfig.filter=''">
                <i class="glyphicon glyphicon-filter"></i>
            </button>
        </span>
    </div>

    <div ng-controller="GroupController">
        <div ng-repeat="group in groups" ng-include="'components/group/group-template.html'"></div>
    </div>

    <div class="footer text-muted">
        <ul>
            <li>Licensed under GNU Public License version 2 <i class="glyphicon glyphicon-question-sign" popover-placement="right" popover="with compatible or public domain components AngularJS (MIT License), Bootstrap (MIT License), CryptoJS (New BSD License), gapi-chrome-apps (Apache v2), jDataView (wtfpl License), UI-Bootstrap (MIT License) and unknown components salsa20.js, inflate.js."></i></li>
            <li>&middot;</li>
            <li><a href="https://bitbucket.org/namn/browsepass/" target="_blank">Project page</a></li>
            <li>&middot;</li>
            <li><a href="https://bitbucket.org/namn/browsepass/issues" target="_blank">Feedback</a></li>
        </ul>
    </div>
</body>
</html>
